.suggestion-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 800px;
  }
  
  .suggestion-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(255 255 255 / 6%);
    border: 1px solid var(--glass-border);
    border-radius: 30px;
    padding: 10px 20px;
    color: var(--white);
    font-size: 0.9rem;
    cursor: pointer;
  
  }

  
  .suggestion-button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
  
  .suggestion-button .icon svg {
    width: 100%;
    height: 100%;
  }
  
  .suggestion-button.instagram .icon {
    color: var(--tertiary-accent);
  }
  
  .suggestion-button.facebook .icon {
    color: var(--secondary-accent);
  }
  
  .suggestion-button.twitter .icon {
    color: var(--secondary-accent);
  }
  
  .suggestion-button.linkedin .icon {
    color: var(--accent);
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 768px) {
    .suggestion-buttons {
      gap: 10px;
    }
  
    .suggestion-button {
      padding: 8px 15px;
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 576px) {
    .suggestion-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .suggestion-button {
      width: 100%;
      justify-content: center;
    }
  }
  